<form id="frmApoyo" method="post">
    <div class="mb-1">
        <label>Mascota:</label>
        <input type="text" class="form-control" id="txtIdMascota" name="txtIdMascota">
    </div>
    <div class="mb-1">
        <label>Padrino:</label>
        <input type="text" class="form-control" id="txtIdPadrino" name="txtIdPadrino">
    </div>
    <div class="mb-1">
        <label>Monto:</label>
        <input type="text" class="form-control" id="txtMonto" name="txtMonto">
    </div>
    <div class="mb-1">
        <label>Causa:</label>
        <input type="text" class="form-control" id="txtCausa" name="txtCausa">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Mascota</th>
                <th>Padrino</th>
                <th>Monto</th>
                <th>Causa</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyApoyo"></tbody>
    </table>
</div>
